USE [master]
GO
/****** Object:  Database [ProjetoForum]    Script Date: 19/01/2018 22:09:05 ******/
CREATE DATABASE [ProjetoForum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoForum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjetoForum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoForum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjetoForum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoForum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoForum]
GO
USE [ProjetoForum]
GO
/****** Object:  Table [dbo].[postagem]    Script Date: 19/01/2018 22:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[postagem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idtopico] [int] NOT NULL,
	[idusuario] [int] NOT NULL,
	[titulo] [varchar](70) NOT NULL,
	[mensagem] [varchar](1024) NOT NULL,
	[dataPublicacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topicoforum]    Script Date: 19/01/2018 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topicoforum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](70) NOT NULL,
	[descricao] [varchar](200) NOT NULL,
	[dataCadastro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 19/01/2018 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[login] [varchar](15) NOT NULL,
	[senha] [varchar](25) NOT NULL,
	[dataCadastro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[postagem] ADD  DEFAULT (getdate()) FOR [dataPublicacao]
GO
ALTER TABLE [dbo].[topicoforum] ADD  DEFAULT (getdate()) FOR [dataCadastro]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT (getdate()) FOR [dataCadastro]
GO
ALTER TABLE [dbo].[postagem]  WITH CHECK ADD FOREIGN KEY([idtopico])
REFERENCES [dbo].[topicoforum] ([id])
GO
ALTER TABLE [dbo].[postagem]  WITH CHECK ADD FOREIGN KEY([idusuario])
REFERENCES [dbo].[usuario] ([id])
GO
USE [master]
GO
